/* code copied from https://www.w3schools.com/howto/howto_css_flip_card.asp

/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
  background-color: transparent;
  width: 390px;
  height: 370px;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}
  
/* This container is needed to position the front and back side */
.flip-card-inner {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  border-radius: 10px;
  background-image: linear-gradient(180deg, rgb(25, 163, 187), rgb(48, 76, 141)); 
  color: white;
}

/* Style the front side (fallback if image is missing) */
.DisplayTime {
  color: rgb(48, 76, 141);
}

.outerPanel{
  float: left;
  margin: 5px 5px 5px 5px;
  padding: 12px;    
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;    
}

.inputs{
  margin-left: 15%;
  margin-top: 10%;
  width: 280px;
  align-content: center;
  align-items: center;
  flex-direction: column;
}

/* h1{
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 40px;
  color: rgb(21, 36, 70);
} */

h2, p{
  padding: 0px 0px 0px 0px; 
  margin: 0px 0px 0px 0px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 30px;
  color: whitesmoke;
  text-align: center;
  text-align: center;
  vertical-align: middle; 
}

p{
  top: 0px;
  display:inline; 
  vertical-align:middle;
  color: rgb(48, 76, 141);
  font-size: 20px;
}

.hmsg{
  font-size: 25px;
  color: green;
  position: relative;
  right: 140px;
}

.hmsr{
  font-size: 25px;
  color: rgb(143, 32, 32);
  position: relative;
  left: 140px;
}